/* Importamos las dos fuentes que hemos descargado de Google Fonts */
@font-face {
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face {
    font-family: EconomicaBold;
    src: url(assets/economica-bold.ttf);
}

/* Centramos el contenido en la página */
body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'RobotoCondensed';
}

h3, h4, h5 {
    font-family: 'EconomicaBold';
}    

.foto_perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Definimos dos clases para los estilos del componente Title */
.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation: 2s;
}

.title-fade-in {
    opacity: 100;
    animation-name: fade-in;
    animation: 2s;
}

@keyframes fade-out {
    from { opacity: 100 }
    to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 100 }
}